body {
  background: blanchedalmond;
}

.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}



* {
  border: 2px solid black;
}

.a {
  flex-grow: 1;
  /* max-height: 10vh;
  width: 100%; */
  text-align: center;
  background-color: red;
}

.b {
  flex-grow: 3;
  /* max-height: 80vh;
  min-width: 100%; */
  text-align: center;
  background-color: blue;
}

.c {
  flex-grow: 1;
  /* max-height: 10vh;
  min-width: 100%; */
  background-color: green;
}

@media(min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .a {
    margin: 1em;
    width: 100%;
  }

  .b {
    margin: 1em;
  }

  .c {
    margin: 1em;
  }
}